@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url(https://fonts.googleapis.com/css?family=Mulish:regular);
html,
body {
  background-color: #ececee;
}

body {
  font-size: 0.875rem;
  line-height: 1.14;
  font-family: "Lato";
  color: #211b4e;
}

[class*=__container] {
  max-width: 1144px;
  margin: 0 auto;
  padding: 0px 15px;
}

.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  flex: 0 0 24px;
}

input,
button,
textarea {
  font-family: "Lato";
  line-height: 1.14;
}

.aside {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  background: #fff;
  height: 100vh;
  width: 240px;
  padding: 0 12px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 11;
}
.aside__title {
  text-transform: uppercase;
  margin-top: 15px;
  padding: 0 8px;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 133.33%;
  color: rgba(47, 46, 65, 0.5);
}
.aside__list {
  margin-top: 4px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.aside__item:hover {
  background: #ececee;
  border-radius: 3px;
}
.aside__item.current-page {
  color: #575bde;
  font-weight: 700;
  background: rgba(87, 91, 222, 0.2);
  border-radius: 3px;
  position: relative;
}
.aside__item.current-page .aside__link {
  padding: 6px 10px;
}
.aside__item.current-page::after {
  content: "";
  border: 2px solid #575bde;
  height: 36px;
  position: absolute;
  top: 0;
  right: -12px;
}
.aside__item.aside-soon {
  color: rgba(17, 15, 36, 0.4);
}
.aside__item.aside-soon a::after {
  content: "soon";
  background: #ff4677;
  font-family: "Mulish";
  font-weight: 500;
  font-size: 0.6875rem;
  line-height: 1;
  padding: 2px 4.69px;
  color: #ffffff;
}
.aside__numb {
  justify-self: end;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  color: rgba(17, 15, 36, 0.4);
}
.aside__link {
  display: flex;
  gap: 6px;
  align-items: center;
  padding: 5px 10px;
}
.aside__link p {
  text-transform: capitalize;
}

.wrapper {
  width: calc(100% - 240px);
  margin: 0 0 0 auto;
  max-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  border-bottom: 0.5px solid rgba(17, 15, 36, 0.4);
}
.header__content {
  display: flex;
  justify-content: space-between;
  padding: 16px 0px;
}
.header__form {
  position: relative;
  display: flex;
  align-items: center;
}
.header__search-icon {
  position: absolute;
  left: 7px;
  top: 5px;
}
.header__search-icon.icon-search {
  color: rgba(17, 15, 36, 0.4);
  width: 18px;
  height: 18px;
  flex: 0 0 18px;
}
.header__search-input {
  padding: 7px 8px 7px 29px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  background: #fff;
}
.header__bell .icon-bell {
  color: rgba(17, 15, 36, 0.4);
}

.welcome {
  margin-top: 10px;
}
.welcome__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.welcome__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.33;
  color: #2f2e41;
}
.welcome__text {
  margin-top: 4px;
}
.welcome__btn {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 114.29%;
  display: flex;
  padding: 12px 16px;
  background: linear-gradient(129.85deg, #565adb -6.83%, #5f63df -6.82%, #676ae0 -6.81%, #393ed8 81.77%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  color: #ffffff;
  text-transform: capitalize;
}
.recent {
  margin-top: 21px;
}
.recent__content {
  display: grid;
  grid-template-columns: 65.92% 31.84%;
  gap: 25px;
}
.recent__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.recent__headline {
  padding: 11px 16px;
  background: #f6f6f9;
  box-shadow: 0px 1px 0px #ececee;
  border-radius: 4px;
}
.recent__title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  text-transform: capitalize;
}

.recent-pages__body {
  padding: 0px 7px 21px;
}
.recent-pages__item {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  margin-top: 10px;
  gap: 16px;
  border-bottom: 1px solid #ececee;
}
.recent-pages__item:hover {
  background: #ffffff;
  box-shadow: 0px 0px 2px 1px rgba(87, 91, 222, 0.5);
}
.recent-pages__info {
  flex: 1;
}
.recent-pages__header {
  display: flex;
  align-items: center;
  gap: 10px;
}
.recent-pages__category {
  background: #f6f6f9;
  color: #7b7b7b;
  border-radius: 3px;
  font-size: 0.75rem;
  line-height: 1.33;
  padding: 3px 5px;
}
.recent-pages__sub-header {
  margin-top: 5px;
  align-items: center;
  display: flex;
  gap: 10px;
}
.recent-pages__updated {
  color: rgba(17, 15, 36, 0.4);
  text-transform: capitalize;
}
.recent-pages__condition {
  background: #ececee;
  border-radius: 3px;
  font-size: 0.75rem;
  line-height: 1.33;
  padding: 3px 5px;
  color: #7b7b7b;
}
.recent-pages__condition.published {
  background: rgba(99, 206, 99, 0.2);
}
.recent-pages__actions {
  flex: 0 1 20%;
  display: flex;
  gap: 5px;
}
.recent-pages__btn {
  display: flex;
  transition: color 0.2s;
}
.recent-pages__btn:hover {
  color: #575bde;
}
.recent-pages__btn .icon {
  width: 20px;
  height: 20px;
  flex: 0 0 20px;
}